<%= form_for([@exam, @question]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
    <% i = 1 %>
    
   <% @question.options.each do |key, value|%>
  <div class="field">
    <%= f.label :options , "Option #{i}"%><br>
    <%= f.text_field  "options[#{i}]",:value => value %>
  </div>
   <% i = i+1 %>
<% end %>

  <div class="field">
    <%= f.label :correct_option %><br>
    <%= f.number_field :correct_option %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
