<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<p>
<strong>Options:</strong><br/>
  <%= render 'options' %>
</p>
<p>
  <strong>Correct option:</strong>
  <%= @question.correct_option %>
</p>

<%= link_to 'Edit', edit_exam_question_path(@exam, @question) %> |
<%= link_to 'Back', exam_questions_path(@exam) %>
