<%= form_for(@exam) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Exam Title:" %>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :description, "Description:" %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :notes, "Instructions to students:"%>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :time, "Time (In Minutes):" %>
    <%= f.number_field :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
