<h1>Listing exams</h1>

<div id="exam_container">
  <table id="exam_container_table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Notes</th>
      <th>Time(In Minutes)</th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.title %></td>
        <td><%= exam.description %></td>
        <td><%= exam.notes %></td>
        <td><%= exam.time %></td>
      <% if current_user.role == "admin" && user_signed_in? %>
        <td><%= link_to 'Show/Add Questions', exam_questions_path(exam)%>
        <td><%= link_to 'Show', exam %></td>
        <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
        <td><%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% else %>
        <td><%= link_to 'Take exam', "/u/exam/#{exam.id}/take", class:'take-exam' %> </td>  
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<% if current_user.role == "admin" && user_signed_in? %>
  <%= link_to 'New Exam', new_exam_path %>
<% end %>
