<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= simple_format(@exam.title) %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@exam.description) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= simple_format(@exam.notes) %>
</p>

<p>
  <strong>Time:</strong>
  <%= @exam.time %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
